@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

* {
    font-family: "Josefin Sans", sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-line {
    height: 4px;
    background-color: #fff;
    border-radius: 100px;
    margin-top: 10px;
    animation: line-growing 2s;
}

@keyframes line-growing {
    from {
        width: 0;
    }
    to {
        width: 200px;
    }
}

@media screen and (min-width: 600px) {
    nav li,
    .social-icons li {
        position: relative;
    }
    nav li::after,
    .social-icons li::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #fff;
        transition: width 300ms ease-out;
    }

    nav li:hover::after,
    .social-icons li:hover::after {
        width: 25px;
    }
}
